.header-of-app {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 100px auto;
    align-self: center;
    justify-self: center;
    height: 60px;
    z-index: 5;
}

.item-container {
    position: relative;
    top: 60px;
    padding-top: 10px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;

}

.item-col {
    width: 95%;
    min-height: 40px;
    border-radius: 5px;
    background: #FFFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 50px auto 100px;
    gap: 3px;
}

.mistakeNum {
    width: 40px;
}

.nav-bar-container {
    width: 100%;
    height: 63px;
    position: fixed;
    bottom: -3px;
    background: linear-gradient(180deg, rgba(252, 252, 252, 0.00) 0%, rgba(254, 254, 254, 0.85) 43.23%, #FFF 100%);
}

.nav-bar {
    width: 165px;
    height: 48px;
    position: fixed;
    bottom: 4px;
    border-radius: 28px;
    background: #14BF96;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 10px;
}

#modal1 {
    display: none;
}



.pop-up {
    position: fixed;
    bottom: 100px;
    top: -30px;
    left: 0;
    right: 0;
    bottom: 100px;
    border-radius: 23px;
    background: #14BF96;
    z-index: 5;
}

.pop-main {
    font-weight: 900;
    color: #FFF;
}

.pop-up-btn-container {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}

.search-bar {
    width: 150px;
    height: 31px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 27px;
    background: #FFF;
    border: none;
}

.tract-btn {
    margin: 5px;
    padding: 1px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: #727272;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.tract-btn:active {
    background: #e02323;
}